local.properties
/local.properties
.env
app/src/main/res/values/mapbox_access_token.xml
google-services.json

*.jks
*.keystore
*.pem
*.p12
*.p8

/build/
*/build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class

.gradle/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.iml
.DS_Store